@import "tailwindcss";


@font-face {
  font-family: Heebo;
  src: url("../src/assets/fonts/Heebo-Regular.ttf");
}
:root {
  --color-primary: #1E40AF;
  --color-secondary: #F97316;
  
  --text-title: #121212;
  --text-content-grey: #555555;

}

@theme{
  --font-heebo: Heebo, 'sans-serif'; 
  
}

@layer base {
  h1 {
    font-size: 24px;
    font-weight: bolder;
    color: var(--text-title);
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-title);
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-title);
  }

  h4{
    font-size: 14px;
    font-weight: bold;
    color: var(--text-title);
  }
  h5{
    font-size: 14px;
    font-weight: normal;
    color: var(--text-content-grey);
  }
  
  p {
    font-size: 16px;
    font-weight: normal;
    color: var(--text-content-grey);
    line-height: 24px;
    
  }


}

.banner-bg{
  background: rgb(0,62,139);
  background: linear-gradient(90deg, rgba(0,62,139,1) 0%, rgba(0,114,148,1) 0%, rgba(1,110,139,1) 35%);
}

